.context-menu {
  display: block;
  z-index: 10;
}

.context-menu-items {
  display: block;
  background-color: #303030;
  padding: 0px;
  margin: 3px;
}

.context-menu-item {
  display: block;
  list-style-type: none;
  background-color: #0a0a0a;
  color: #DEDEDE;
  font: 12px 'Lucida Grande', sans-serif;
  padding: 8px 18px 8px 18px;
  margin-bottom: 1px;
}

.context-menu-item:hover {
  background-color: #2034ff;
}
