.appmenu-item {
  float: left;
  width: 110px;
  margin-left: 1px;
  background-color: #0a0a0a;
  height:2em;
  /*line-height: 2em;*/
}

.appmenu-item-content {
  display: block;
  padding: 0 5px;
  border-right: 1px solid #303030;
  padding-top: 5px;
  padding-bottom: 5px;
}

.appmenu-options-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display:none;
}

.appmenu-item:hover .appmenu-options-list {
  display:block;
}

.appmenu-option-item {
  background-color: #0a0a0a;
  /*background-color: #000;*/
  position:relative;
}

.appmenu-option-item-content {
  display: block;
  border-top: 1px solid #303030;
  padding-top: 5px;
  padding-bottom: 5px;
}

.appmenu-option-item-content > input[type="file"] {
    display: none;
    visibility: hidden;
}

.appmenu-option-item-content:hover {
  background-color: #2034ff;
}
