.logconsole {
  background-color: #0a0a0a;
  color: #DEDEDE;
}

.logconsole-table {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
}

.logconsole-header {
  font: 14px 'Lucida Grande', sans-serif;
  margin: 10px;
}

.logconsole-row {
  display: table-row;
}

.logconsole-row-cell {
  display: table-cell;
  border-top: 1px solid #303030;
  vertical-align: middle;
}

.logconsole-typecell {
  font: 12px 'Lucida Grande', sans-serif;
  width: 100px;
  padding-left: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.logconsole-namecell {
  font: 12px 'Lucida Grande', sans-serif;
  padding-left: 30px;
}

.logconsole-gotocell {
  width: 70px;
  padding-top: 2px;
}

.logconsole-gotocell-btn {
  font: 11px 'Lucida Grande', sans-serif;
  color: #DEDEDE;
  background-color: #2a2a2a;
  border-radius: 8px;
  border-color: #2fa1d6;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.logconsole-gotocell-btn:focus {
  outline:0;
}

.logconsole-rowcell-textcontent {
  margin-top: 8px;
  margin-bottom: 8px;
}

.rowtype-warning {
  color: #FBFB60;
}

.rowtype-critical {
  color: #CC0000;
}

.rowtype-error {
  color: #FF0F0F;
}

.rowtype-info {
  /*color: #DEDEDE;*/
}
