#populationlist {
    display: table;
    background-color: #0a0a0a;
    border-collapse: collapse;
    color: #DEDEDE;
    width: 100%;
    margin-top: 5px;
}

#population-container .ui-button {
    font-size: 10px;
    margin: 10px;
}

.populationlist-row {
    display: table-row;
    border: 1px solid #303030;
    cursor: pointer;
}

.populationlist-row.current{
    background-color: #3C7384;
}

.populationlist-row-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
}

.populationlist-scorecell {
    text-align: right;
}

.populationlist-textcontent {
    font: 14px 'Lucida Grande', sans-serif;
    padding-left: 5px;
}