.properties-container {
  font: 11px 'Lucida Grande', sans-serif;
}

.properties-header {
  color: #DEDEDE;
  font: 12px 'Lucida Grande', sans-serif;
  margin: 2px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  background-color: #000000;
}

.properties-datatable {
  display: table;
  background-color: #000000;
  margin: 2px;
  width: 328px;
}

.properties-datatable-row {
  display: table-row;
}

.properties-datatable-cell {
  display: table-cell;
  padding: 2px 5px 2px 5px;
  color: #DEDEDE;
  font: 11px 'Lucida Grande', sans-serif;
  vertical-align: middle;
}

.properties-float-input {
  text-align: left;
  width: 60px;
  height: 14px;
  color: #2fa1d6;
  background-color: #303030;
  border: 1px solid #000000;
  padding: 2px;
}

.properties-float-input:focus {
  box-shadow: 0 0 5px #2fa1d6;
  border: 1px solid #2fa1d6;
  outline: none;
}

.properties-input-invalid:focus {
  box-shadow: 0 0 5px #cc0000;
  border: 1px solid #cc0000;
  outline: none;
}

.properties-enum-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0px 8px 0px 8px;
  height: 20px;
  color: #2fa1d6;
  background-color: #303030;
  border: 1px solid #000000;
}

/*for IE10*/
.properties-enum-input::-ms-expand {
    display: none;
}

.properties-enum-input:focus {
  box-shadow: 0 0 5px #2fa1d6;
  border: 1px solid #2fa1d6;
  outline: none;
}

.properties-boolean-input {
  height: 15px;
}

.checkbox-cell {
  text-align: center;
}

#parteditor-mass {
  width: 56px;
}

#parteditor-size {
  width: 96px;
}

#parteditor-foodLabel {
  width: 40px;
}

#jointeditor-stiff {
  width: 72px;
}
