#simulation-menu {
  z-index: 10;
  display: block;
  color: #FFFFFF;
  font-size: 10px;
}

#simulation-menu .ui-button {
  font-size: 10px;
  margin: 10px;
}

#simulation-info div {
  margin: 3px;
}

#simulation-info{
  margin: 0 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

#simulation-title{
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFFFFF;
}

#simulation-status{
  font-weight: bold;
}

#simulation-status.stopped{
  color: #E76D17;
}

#simulation-status.stable{
  color: #70C0B1;
}

#simulation-status.running{
  color: #CF4E4D;
}