html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #232323;
}

canvas {
  display: block;
}

#geno-editor {
  position: absolute;
  right: 0;
  bottom: 0;
}

#main-menu {
  list-style-type:none;
  padding:0;
  margin:0;
  color: #DEDEDE;
  font: 14px 'Lucida Grande', sans-serif;
  text-align:center;
  background-color: #0a0a0a;
}

#about-content {
  font: 14px 'Lucida Grande', sans-serif;
  margin: 5px;
}

#about-content p {
  margin-bottom: 5px;
}

.non-selectable-text-content {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
}
