html {
  font-size: 62.5%;
}

body {
  background-color: #0a0a0a;
  color: #DEDEDE;
  margin: 0;
  font-size: 1.6rem;
  font: 14px 'Lucida Grande', sans-serif;
}

a {
  color: #2fa1d6
}

h1 {
  font-size: 3rem;
  padding: 1rem;
  margin: 0;
}

h2 {
  background-color: #555555;
  font-size: 2rem;
  padding: 0.5rem;
}

h3 {
  text-decoration: underline;
}

section {
  margin: 1rem
}

p {
  width: auto;
}