.example-title {
  display: block;
  font-size:16px;
  font-weight:bold;
  margin-bottom: 10px;
}

.example-text {
  display: block;
  font-size:14px;
  margin-top: 10px;
}

.example-text-important {
  color: #f00;
}
